In [ ]:
import pandas as pd
dataf=pd.read_csv("/content/dataset-problem-31-1-online_shoppers_intention-Random forest.csv")
dataf.head()

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0             0.0                      0.0  ...    False    False
1             0.0                      0.0  ...    False    False
2             0.0                     -1.0  ...    False    False
3             0.0                      0.0  ...    False    False
4             0.0                      0.0  ...     True    False

[5 rows x 18 columns]

In [ ]:
dataf.shape

(12330, 18)

In [ ]:
dataf.isna().sum()

Administrative             14
Administrative_Duration    14
Informational              14
Informational_Duration     14
ProductRelated             14
ProductRelated_Duration    14
BounceRates                14
ExitRates                  14
PageValues                  0
SpecialDay                  0
Month                       0
OperatingSystems            0
Browser                     0
Region                      0
TrafficType                 0
VisitorType                 0
Weekend                     0
Revenue                     0
dtype: int64

In [ ]:
dataf['Administrative']=dataf['Administrative'].fillna(dataf['Administrative'].median())
dataf['Administrative_Duration']=dataf['Administrative_Duration'].fillna(dataf['Administrative_Duration'].median())
dataf['Informational']=dataf['Informational'].fillna(dataf['Informational'].median())
dataf['Informational_Duration']=dataf['Informational_Duration'].fillna(dataf['Informational_Duration'].median())
dataf['ProductRelated']=dataf['ProductRelated'].fillna(dataf['ProductRelated'].median())
dataf['ProductRelated_Duration']=dataf['ProductRelated_Duration'].fillna(dataf['ProductRelated_Duration'].median())
dataf['BounceRates']=dataf['BounceRates'].fillna(dataf['BounceRates'].median())
dataf['ExitRates']=dataf['ExitRates'].fillna(dataf['ExitRates'].median())

In [ ]:
dataf.isna().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [ ]:
x=dataf.drop('Revenue',axis=1)
y=dataf['Revenue']

In [ ]:
from sklearn.preprocessing import LabelEncoder
Encoder_X = LabelEncoder() 
for col in x.columns:
    x[col] = Encoder_X.fit_transform(x[col])
Encoder_y=LabelEncoder()
y = Encoder_y.fit_transform(y)
x.head()

   Administrative  Administrative_Duration  ...  VisitorType  Weekend
0               0                        1  ...            2        0
1               0                        1  ...            2        0
2               0                        0  ...            2        0
3               0                        1  ...            2        0
4               0                        1  ...            2        1

[5 rows x 17 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=156,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
my_model = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 42)
result=my_model.fit(x_train, y_train)
predict1=result.predict(x_test)
predict1

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predict1)

0.9115977291159773

In [ ]:
from sklearn.metrics import confusion_matrix
mat=confusion_matrix(y_test,predict1)
mat

array([[2026,  146],
       [  72,  222]])

In [ ]:
confuM=pd.DataFrame(mat,index=['Actual negative','Actual positive'],columns=['Predict neg','predict pos'])
confuM

                 Predict neg  predict pos
Actual negative         2026          146
Actual positive           72          222

In [ ]:
predictEx=result.predict([[0.0,0.0,0.0,0.0,0.1,0.0,0.5,0.2,0.0,0.0,2,1,1,1,1,2,0]])
predictEx

array([0])